doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title #{title}
  body
    form(action='/signup', method='post')
      div
        label(for='name') Name:
        input(type='text', name='name')
      div
        label(for='birth') Birthdate:
        input(type='date', name='birth')
      div
        label(for='email') Email:
        input(type='text', name='email')
      div
        label(for='password') Password:
        input(type='password', name='password')
      div
        label(for='confirmPassword') Confirm Password:
        input(type='password', name='confirmPassword')
      div
        input(type='submit', value='Sign Up')
